
@font-face {
  font-family: font;
  src: url(./fonts/GoogleSans-Regular.woff2);
}

:root {
  font-family: font, system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: .92rem;
  --bg-color: black;
  --bg-color-dark: #1c1c1e; 
  --bg-color-light: #212121; 
  --bg-color-light2: #303030;
  --border-color: rgba(255, 255, 255, 0.15);
  --border-color-active: rgba(255, 255, 255, 0.3);

  --border: 1px solid var(--border-color);
  --label: #fff;
  --secondaryLabel: #8d8d93;
  --tertiaryLabel: #47474a;
  --quaternaryLabel: #2a2a2c;
  --first-color: #ff5317;
  --white: rgb(255, 255, 255);
  --white-t: rgba(255, 255, 255, .15);
  --nav-height: 58px;
  --t: .25s;
  --max-width: 1024px;
}

